#carousel
	margin: 0 auto
	max-width: 1200px
	max-height: 900px
	overflow: hidden

	.carouselList
		width: 6000px

		li
			max-width: 1200px
			max-height: 900px
			float: left

			img
				width: 100%
				height: auto

#controls
	position: absolute
	top: 0
	line-height: 50%
	
	height: 50px
	display: flex
	justify-content: space-between

	div
		color: orange
		background-color: rgba(100, 0, 0, 0.5)
		width: 50px
		text-align: center

		i
			font-size: 40px
			line-height: 50px

	#arrowLeft
		border-bottom-right-radius: 5px
		border-top-right-radius: 5px
